@model AndradeEduardoExamenProgreso1.Models.Cliente

@{
    ViewData["Title"] = "Editar Cliente";
}

<h2>Editar Cliente</h2>

<div class="formContainer">
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="clienteId" />

        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Edad"></label>
            <input asp-for="Edad" class="form-control" />
            <span asp-validation-for="Edad" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Presupuesto"></label>
            <input asp-for="Presupuesto" class="form-control" />
            <span asp-validation-for="Presupuesto" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="tienePuntos"></label>
            <select asp-for="tienePuntos" class="form-control">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
            <span asp-validation-for="tienePuntos" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="fechaAproximadaReserva"></label>
            <input asp-for="fechaAproximadaReserva" type="date" class="form-control" />
            <span asp-validation-for="fechaAproximadaReserva" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success mt-3">Guardar Cambios</button>
        <a class="btn btn-secondary mt-3" href="@Url.Action("Index")">Cancelar</a>
    </form>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
