@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="imgBg">
        <img src="~/images/memebg.jpg" id="icon" alt="Logo" />

    </div>
   
    <button onclick="alerta()" type="button" class="btn btn-info">Mostrar Alerta</button>
    <script>
        function alerta(){
            alert("Mi nombre es Eduardo Andrade, mi hobbies son los deportes y el valor del campo de texto es: 10");
        }
    </script>
   
</div>
